* {
    list-style: none;

    margin: 0;
    box-sizing: border-box;
    border: none;
    padding: 0;

    text-decoration: none;
}
body {
    font: 14px "微软雅黑", Helvetica, Arial, sans-serif;

    color: #fff;
    background-color: #000;
}
a {
    color: #00b7ff;
}
html,
body,
.container {
    overflow: hidden;

    position: relative;

    width: 100%;
    height: 100%;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: "";
}
.clearfix {
    zoom: 1;
}
input[type="range"]{
    outline: none;
}
/*header*/
.header {
    margin: 10px;
    width: calc(100% - 20px);
    height: 140px;

    text-align: center;
}
.header h2 {
    text-align: center;
}
.header .music-text input {
    margin-top: 5px;
    margin-left: 3px;
    border: none;
    border-radius: 3px;
    padding: 6px 3px;

    text-align: center;

    color: #272b28;
    background-color: #000;
}
.header .music-text input:hover,
.header .music-text input:focus {
    color: #52cc70;
    background-color: #6b6868;
}
.header .music-tool {
    position: relative;

    margin-top: 8px;

    text-align: center;
}
.header .music-rate,
.progress {
    position: absolute;
    top: -65px;
    right: 0;

    font-size: 20px;

    color: #00b7ff;

    text-shadow: 1px 1px 2px #b00;
}
.progress {
    top: 0;
    left: 0;

    border-radius: 0 2px 2px 0;
    height: 5px;

    background-color: #b00;

    transition: width .3s ease-in;
}
.header .music-time,
.header .Q,
.control {
    position: absolute;
    top: -65px;
    left: 0;

    text-align: left;

    color: #2e73af;

    text-shadow: 0 0 1px #0b0;
}
.header .music-time span {
    padding: 1px 2px;
}
.header .Q {
    left: 200px;
}
.control {
    top: -30px;
    left: 200px;
}
.control  button {
    border-radius: 12px;
    padding: 4px 8px;

    color: #ddd;
    background: #0d4d16;

    outline: none;

    cursor: pointer;
}
.control  button:hover {
    color: #ddd;
}
.header ul {
    margin: 0 auto;
    width: 260px;
}
.header li {
    float: left;

    margin-left: 3px;
    border-radius: 11px;
    padding: 2px 8px;
    width: 80px;

    background-color: #0f5619;

    opacity: .5;

    cursor: pointer;
}
.header li.active {
    opacity: .9;
}
.header .voice-tool {
    margin-top: 5px;
}

/*left and right*/
.left,
.right {
    position: absolute;
}

/*left*/
.left {
    overflow: hidden;

    top: 160px;
    left: 10px;

    border: 1px solid #635c5c;
    width: 15%;
    height: calc(100% - 170px);

    opacity: .3;
    box-shadow: 0 0 3px #326354;
}
.left .music-list {
    overflow: auto;

    padding: 3px;
    height: 100%;
}
.left .music-item {
    overflow: hidden;

    border-radius: 3px;
    padding: 0 5px;
    width: 100%;
    height: 30px;

    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: rgba(156, 158, 156, .81);

    cursor: pointer;
}
.left .music-item.active {
    color: rgb(243, 176, 176);
}
.left .music-item.hover {
    color: rgb(200, 143, 189);
    background-color: aliceblue;
}

/*right*/
.right {
    top: 160px;
    right: 10px;

    width: calc(85% - 30px);
    height: calc(100% - 170px);
}

/*媒体查询*/
@media screen and (max-width:600px) {
    .header {
        height: 80px;

        font-size: smaller;
    }
    .left,
    .right {
        top: 100px;

        height: calc(100% - 110px);
    }
    .music-text {
        display: none;
    }
    .header .music-time,
    .header .music-rate {
        top: -30px;
    }
}
@media screen and (max-width:460px) {
    .music-time,
    .left {
        display: none;
    }
    .right {
        top: 100px;
        left: 10px;

        width: calc(100% - 20px);
        height: calc(100% - 110px);
    }
}
@media screen and (max-height:400px) {
    .header {
        height: 100px;

        font-size: smaller;
    }
    .left,
    .right {
        top: 120px;

        height: calc(100% - 110px);
    }
    .music-text {
        display: none;
    }
    .header .music-time,
    .header .music-rate {
        top: -30px;
    }
}

/*标题样式及range滑块样式*/
.masked {
    color: #f00;
    background: url(http://www.zhangxinxu.com/study/image/paint.png);
    -webkit-background-clip: text;

    -webkit-animation-name: masked-animation;
    -webkit-animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -webkit-text-fill-color: transparent;
}
@-webkit-keyframes masked-animation {
    0% {
        background-position: left bottom;
    }
    100% {
        background-position: right bottom;
    }
}
input[type="range"] {
    border-color: transparent;
    border-radius: 15px;
    width: 200px;
    height: 10px;

    background-color: #272728;

    -webkit-box-shadow: 0 1px 0 0 #424242, 0 1px 0 #060607 inset, 0 2px 10px 0 black inset, 1px 0 2px rgba(0, 0, 0, .4) inset, 0 0 1px rgba(0, 0, 0, .6) inset;

    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    top: -5px;

    border-radius: 50%;
    width: 20px;
    height: 10px;

    background: none repeat scroll 0 0 #777;

    cursor: default;

    -webkit-appearance: none;
}
