<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="container">
        <header class="header">
            <h1><%=title%></h1>
            <div class="music-tool">
                <div class="music-rate">还未开始</div>
                <div class="type-tool clearfix">
                    <ul id="type_list">
                        <li title="点状图">Doted</li>
                        <li class="active" title="柱状图">Column</li>
                    </ul>
                </div>
                <p class="voice-tool">
                    <input type="range" min="0" max="100" value="40" id="voice_control"/>
                </p>
            </div>
        </header>
        <section class="main">
            <nav class="left">
                <ul class="music-list" id="music_list">
                    <%musics.forEach(function(music){%>
                        <li class="music-item" title="<%=music%>"><%=music%></li>
                    <%})%>
                </ul>
            </nav>
            <div class="right">
                <canvas id="canvas"></canvas>
            </div>
        </section>
    </div>
    <script src="/javascripts/index.js" type="text/javascript"></script>
  </body>
</html>
