<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="container">
    	<div class="top-banner">
          <h1 class="title"><%=title%></h1>
          <div class="btn-tool">
            <ul class="view-type">
              <li data-type="doted">doted</li>
              <li data-type="column">column</li>
            </ul>
            <div>
              音量：<input type="range" min="0" max="100" value="40"/>
            </div>
          </div>
        </div>
    	<div class="main-content">
    		<div class="left">
              <ul class="music-list">
              <%for(var i=0;i<files.length;i++){%>
                <li><a class="music-item" href="javascript:void (0)" title="<%=files[i]%>"><%=files[i]%></a></li>
              <%}%>
              </ul>
            </div>
    		<div class="right"></div>
    	</div>
    </div>
    <script src="/javascripts/jquery-1.11.2.js"/>
    <script src="/javascripts/index.js"/>
  </body>
</html>
